body {
    margin:auto ;
    padding:0;
    width : 100%;
    height :100%;
}


i.material-icons {
    vertical-align:middle;
}

.fit-menu {
    transform: scaleY(1.06);
}

input.w3-input{
    max-width: 200px;
}